.people-of-exmoor {font-size: 72pt; margin-top: 3%; text-shadow: 3pt 3pt #65656580; text-align: center;}

.archive-guide {font-size: 16pt; padding-bottom: 2%;}

.image-grid{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; width: 70%; margin-top: 2%; margin-left: auto; margin-right: auto; justify-items: center; align-items: center; justify-content: end; margin-bottom: 3%; column-gap: 1.5%;}

.return-to-homepage {padding-bottom: 2%; font-size: 20pt; letter-spacing: 1.2pt;}

.image-preview{
  font-size: 15pt;
  text-align: center;
  padding-bottom: 5%;
  font-family: Gotham;
  width: 100%;
  height: 90%;
  background-color: #ffffff;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  margin-bottom: 10%;
  overflow: hidden;
}

.image-preview-m{
  width: 90%;
  height: auto;
  margin: 5%;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
}

.image-preview:hover {
  transform: scale(1.05);
}

.image-preview:hover .image-preview-m{
  transform: scale(1);
}

#background_image_credits {
  font-family: Gotham;
  width: 98%;
  color: #ffffff; padding: 0; text-align: right; font-size: 9pt;
}
  
#searchbar{
  margin-left: 15%;
  margin-right: auto;
  width: 70%;
  font-size: 20pt;
  font-family: Gotham;
  background-color: #26262600;
  color: #ffffffff;
  outline: none;
  padding: .5%;
  font-weight: bold;
  border: 0;
  text-transform: uppercase;
  border: 3pt solid #ffffff;
  -webkit-transition: all .5s ease-in, all .5s ease-out;
  -moz-transition: all .5s ease-in, all .5s ease-out;
  -o-transition: all .5s ease-in, all .5s ease-out;
  -ms-transition: all .5s ease-in, all .5s ease-out;
  transition: all .5s ease-in, all .5s ease-out;
}

#searchbar:focus{
  background-color: #ffffff;
  color: #000000;
  caret-color: #000000;
}

.image-scroll-container{
  margin-top: 5%;
  margin-bottom: 3%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
  
::placeholder{
  opacity: 1 !important;
  color: #ffffff !important;
}
  
input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}