.theme-switch-icon { position:absolute; width:20px; top:20px; right: 20px; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}

.theme-switch-icon:hover { -webkit-filter: opacity(50%); filter: opacity(50%);}